* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*& navpar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.logo {
  font-size: 34px;
  color: #0c0c0c;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(159, 153, 153);
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: rgb(221, 7, 7);
  transition: width 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.dropdown-menu,
.deep-dropdown-menu {
  display: none;
}

.dropdown-menu.show,
.deep-dropdown-menu.show {
  display: block;
  width: 300px;
}

/*& section : 1 */
.hero {
  display: flex;
  grid-template-columns: 90px 90px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 90px;
  background-color: #f8f9fa;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero-text p {
  color: #555;
  margin-bottom: 30px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  animation: float 3s ease-in-out infinite;
}

/*~~ BOOKING MODAL */
.booking-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.booking-content {
  background: white;
  padding: 20px 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.close-booking {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

#bookingForm input,
#bookingForm select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#bookingForm button {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

/* & about */
.AboutUs {
  margin: auto;
  padding: 60px 50px;
  background-color: #ce1212;
}

.aboutFlix {
  width: 100%;
  height: 70%;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.aboutImag{
    width: 55vw;
}
.about_left{
  background-color: blueviolet;
}
.rightAbout{
  display: grid;
  grid-template-columns: auto;
}
.rightImg{
  width: 30vw;
}










@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .nav-links.show {
    display: grid;
    width: 90%;
    height: 70vh;
    border-radius: 2%;

  }

  .show {
    box-shadow: 0 400px 400px #4a40407d;
  }

  .menu-btn {
    display: block;
  }

  .nav_left {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .hero {
    flex-direction: column-reverse;
  }
}