* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*& navpar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.logo {
  font-size: 34px;
  color: #0c0c0c;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(159, 153, 153);
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: rgb(221, 7, 7);
  transition: width 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.dropdown-menu, .deep-dropdown-menu {
  display: none;
}

.dropdown-menu.show, .deep-dropdown-menu.show {
  display: block;
  width: 300px;
}

/*& section : 1 */
.hero {
  display: flex;
  grid-template-columns: 90px 90px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 90px;
  background-color: #f8f9fa;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero-text p {
  color: #555;
  margin-bottom: 30px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  animation: float 3s ease-in-out infinite;
}

/*~~ BOOKING MODAL */ 
.open-btn {
  padding: 12px 25px;
  background: #d60f0f;
  color: white;
  border: none;
  cursor: pointer;
} 
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}
 
.modal-content {
  background: white;
  width: 80%;
  max-width: 1000px;
  padding: 30px;
  position: relative;
}


.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
}
 
.modal-content h2 {
  text-align: center;
  margin-bottom: 30px;
}
.modal-content span {
  color: red;
}
 
.modal-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 30px;
}
 
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.modal-form {
  display: grid; 
  gap: 5px;
}
.modal-form textarea {
  grid-column: 1 / -1;
  height: 120px;
}

.modal-form button {
  grid-column: 1 / -1;
  padding: 15px;
  background: #d60f0f;
  color: white;
  border: none;
  cursor: pointer; 
}

.modal-form input,
.modal-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
}
 
/* & about */
.AboutUs {
  margin: auto;
  padding: 60px 50px; 
}

.aboutFlix {
  width: 100%;
  height: 70%; 
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.aboutImag{
    width: 55vw;
    padding-bottom: 7px;
}
.about_left{
  text-align: center;
  gap: 3px;
}
.about_left .h2{
  font-weight: bold;
}
.about_left > div > h1{
  font-weight: bold;
  color: #ce1212;
}
.rightAbout{
  display: grid;
  grid-template-columns: auto;
}
.rightImg{
  width: 35vw;

}
.about_left > div{
  border: 4px solid #4c4b4b;
}
.rightAbout > .p1{
  color: #9d9a9a;
} 
.rightAbout{
  display: grid;
  gap: 5px;
  grid-template-rows: auto, auto, auto, auto;
}
.topAbout{
  text-align: center;
}
/** sectionLearnMore  */
.learnMore{
   background-color: rgb(199, 208, 208);
   width: 98vw;
   height: 60vh;
   display: grid;
   grid-template-columns:1fr  60vw  ;
   gap: 10px;
   padding: 10px 50px;

}
.divRoug{
  background-color: #ce1212;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.divRoug button{
  background-color: rgba(255, 255, 255, 0.299);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 30px;
}
.cobin > div {
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.divRoug .cobin {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cobin {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.about-bottom {
  position: relative;
  height: 350px;
}

.about-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 /* stasistique */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
}


.stats-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
  color: white;
}

.stat h2 {
  font-size: 40px;
  font-weight: bold;
}

.stat p {
  font-size: 16px;
  margin-top: 5px;
}

/* & menu */

.chch1 {
    font-size: 50px;
    color: #ce1212;
}
.menu {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    /* padding: 8vh 5vw; */
    gap: 6vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
.head h4 {
    color: #5f6265;
    font-size: 18px;
    font-weight: 100;
}
.head h1 {
    font-family: "hafsa";
    font-size: 60px;
}
.head span {
    font-family: "hafsa";
    color: #ce1212;
}
.BTN  {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}
.BTN button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: #37373fe3;
    border-bottom: 2px solid #37373f56;
    transition: all 0.2s ease;
    padding-bottom: 3px;
}
.BTN button:hover {
    border-bottom-color:#ce1212 ;
}
.small {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}
.title h4 {
    color: #5f6265;
    font-size: 18px;
    font-weight: 100;
}
.title h1 {
    font-family: "hafsa";
    font-size: 50px;
    color: #ce1212;
}
.realMenu {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3vh;
    /* background-color: #d53535; */
    box-sizing: border-box;
    overflow-x: hidden;
    align-items: center;
}
.realMenu img {
    width: 320px;
}
.realMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.realMenu div h2 {
    color: #37373f;
    font-family: "hafsa";
    font-size: 30px;
}
.realMenu div p {
    color: #5f6265;
}
.realMenu div h3 {
    color: #ce1212;
    font-family: "hafsa";
    font-size: 30px;
}
/* * carousel */
.carousel-img {
  cursor: pointer;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 35px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }
/* & */
.testimonials{
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    gap: 4vh;
    margin-top: 7vh;
    background-color: #f2f2f2;
}
.testimonials p {
    font-size: 15px;
    color: #171212d5;
}
.testimonials h1{
    font-size: 45px;
    font-family: "hafsa";
}
.testimonials h1 span {
    color: #ce1212;
    font-size: 45px;
}


/* ^ carousel */
.carousel-container {
    width: 70%;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}


.slide {
    min-width: 100%;
    display: flex;
    gap: 2vw;
    position: relative;
    
}
.slide .text5{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 1vw;
    
}
.slide > .text5::before{
    content: '';
    width: 3px;
    height: 60%;
    top: 8px;
    position: absolute;
    left: 1px;
    background-color: #ce1212;
}
.slide .text5 p{
    line-height: 6vh;
    font-weight: 500;
}
.slide .text5 h3{
    font-weight: 400;
}
.slide .text5 h4{
    color: #171212a8;
    font-size: 14px;
}
.slide .text5 .star {
    display: flex;
    
}
.slide .text5 .star svg{
    color: #ffc107;
}

.slide img {
    width: 40%;
    height: 55%;
    object-fit: cover;
    border-radius: 50%;

}

.indicators-grp{
    width: 100%;
    padding: 2vh 0;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}
.indicator{
    width: 12px;
    height: 12px;
    background: #808080bd;
    border-radius: 50%;
    cursor: pointer;
}
.activeIndicator{
    background-color: #ce1212;
}



/* & chef */
.chef {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 5vh 5vw;
    align-items: center;
}
.chef h4 {
    color: #5f6265;
    font-weight: 100;
    font-size: 20px;
}
.chch {
    font-size: 44px;
    color: #ce1212;
}
.chef h1 {
    font-family: "hafsa";
    font-size: 45px;
}
.chef h1 {
    font-family: "hafsa";
    font-size: 45px;
}
.chefs2 {
    display: flex;
    gap: 3vw;
    padding: 2vh 5vw;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.chefs2 div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    text-align: center;
    /* padding: 3vh 3vw;*/
    box-shadow: 0 10px 15px rgba(0,0,0,0.1), 
                0 4px 6px rgba(0,0,0,0.05);
    max-width: 400px;
    border-radius: 10px;
    padding-bottom: 5vh;
    transition: all 0.2s ease;
}

.chefs2 div:hover {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.358);
    z-index: 10;
}

.chefs2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* & Footer */
.footer {
    background-color: #1f1f24;
    padding-top: 8vh;
    
}
.container {
    display: flex;
    flex-direction: column;
    color: white;
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 4vw;
    padding-bottom: 3vh;
    border-bottom: #37373fc5 solid 2px;
}
.item {
    display: flex;
    gap: 0.4vw;
}
.item p,span {
    font-family: "hafsa";
    font-size: 23px;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}
.social svg:hover {
    fill: #ce121281;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom p {
    padding-top: 3vh;
    font-family: "hafsa";
    font-size: 22px;
    padding-bottom: 3vh;
}
.spa {
    color: #ce1212;
}





@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.stats{
  width: 98vw;
  height: 60vh;
  background-color: #4c4b4b2e;
} 
@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .nav-links.show {
    display: grid;
    width: 90%;
    height: 70vh;
    border-radius: 2%; 
  }

  .show {
    box-shadow: 0 400px 400px #4a40407d;
  }

  .menu-btn {
    display: block;
  }

  .nav_left {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .hero {
    flex-direction: column-reverse;
  }
  .aboutFlix{
    flex-direction: column;
  }
  .rightImg{
    width: 100%;
  }
 .learnMore {
  display: flex;
  flex-direction: column;
  height: 155vh;
 }
 .learnMore .cobin{
  display: flex;
  flex-direction: column;
 }
 
}