* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*& navpar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.logo {
  font-size: 34px;
  color: #0c0c0c;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(159, 153, 153);
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: rgb(221, 7, 7);
  transition: width 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.dropdown-menu, .deep-dropdown-menu {
  display: none;
}

.dropdown-menu.show, .deep-dropdown-menu.show {
  display: block;
  width: 300px;
}

/*& section : 1 */
.hero {
  display: flex;
  grid-template-columns: 90px 90px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 90px;
  background-color: #f8f9fa;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero-text p {
  color: #555;
  margin-bottom: 30px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  animation: float 3s ease-in-out infinite;
}

/*~~ BOOKING MODAL */
 /* button */
.open-btn {
  padding: 12px 25px;
  background: #d60f0f;
  color: white;
  border: none;
  cursor: pointer;
}

/* modal background */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

/* modal box */
.modal-content {
  background: white;
  width: 80%;
  max-width: 1000px;
  padding: 30px;
  position: relative;
}

/* close */
.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
}

/* title */
.modal-content h2 {
  text-align: center;
  margin-bottom: 30px;
}
.modal-content span {
  color: red;
}

/* GRID */
.modal-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 30px;
}

/* image */
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* form */
.modal-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.modal-form textarea {
  grid-column: 1 / -1;
  height: 120px;
}

.modal-form button {
  grid-column: 1 / -1;
  padding: 15px;
  background: #d60f0f;
  color: white;
  border: none;
  cursor: pointer; 
}

.modal-form input,
.modal-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
}


/* & about */
.AboutUs {
  margin: auto;
  padding: 60px 50px; 
}

.aboutFlix {
  width: 100%;
  height: 70%; 
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.aboutImag{
    width: 55vw;
    padding-bottom: 7px;
}
.about_left{
  text-align: center;
  gap: 3px;
}
.about_left .h2{
  font-weight: bold;
}
.about_left > div > h1{
  font-weight: bold;
  color: #ce1212;
}
.rightAbout{
  display: grid;
  grid-template-columns: auto;
}
.rightImg{
  width: 35vw;
  
}
.about_left > div{
  border: 4px solid #4c4b4b;
}
.rightAbout > .p1{
  color: #9d9a9a;
} 
.rightAbout{
  display: grid;
  gap: 5px;
  grid-template-rows: auto, auto, auto, auto;
}
.topAbout{
  text-align: center;
}
.learnMore{
   background-color: rgb(212, 226, 226);
   width: 98vw;
   height: 60vh;
   display: grid;
   grid-template-columns:1fr  60vw  ;
   gap: 10px;
   padding: 10px 50px;

}
.divRoug{
  background-color: #ce1212;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.divRoug button{
  background-color: rgba(255, 255, 255, 0.299);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 30px;
}
.cobin > div {
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.divRoug .cobin {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cobin {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}












@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .nav-links.show {
    display: grid;
    width: 90%;
    height: 70vh;
    border-radius: 2%; 
  }

  .show {
    box-shadow: 0 400px 400px #4a40407d;
  }

  .menu-btn {
    display: block;
  }

  .nav_left {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .hero {
    flex-direction: column-reverse;
  }
  .aboutFlix{
    flex-direction: column;
  }
  .rightImg{
    width: 100%;
  }
 .learnMore {
  display: flex;
  flex-direction: column;
 }
 .learnMore .cobin{
  display: flex;
  flex-direction: column;
 }

}