*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*& navpar  */
.navbar {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.logo {
  font-size: 34px; 
  color: #0c0c0c; 
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;


}

.nav-links {
  display: flex;
  list-style: none;
  
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(159, 153, 153);
  font-size: bold;
} 
.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
/*& section : 1 */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
  background-color: #f8f9fa;
}
.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  .hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  color: #555;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

/* IMAGE */
.hero-image img {
  width: 400px;
}
}

.hero-text p {
  color: #555;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-book {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-video {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
}
@media (max-width: 768px) {
 
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd; 
  }

  .nav-links.show {
    display: grid;
    width: 90vw;
    height: 70vh;
    border-radius: 2%;
  }

  .menu-btn {
    display: block;
  }
  .nav_left{
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
} 
